<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Sobre mi </title>
  <link rel="stylesheet" href="../css/cv.css">
</head>
<body>
<header>
    <div class="inicio">
      <img class="mifoto" src="../img/fotito.png" alt="mifoto" >
    </div>
    <div class="principal">
        <h1>Sobre Mi</h1>
      </div>
      <nav>
       <ul class="menu">
         <li><a href="../index.html" target="_blank">Inicio</a></li>
       </ul>
      </nav>
  </header>
  <main>
    <section>
        <p>Me llamo Helening, mi misión en este planeta es...Desarrollar soft skils!</p>
        <p>Me llamo Helening, y me encanta escuchar música</p>
        <p>Me llamo Helening, y mi color favorito es el celeste</p>
        <p>Me llamo Helening, y estoy cursando CTD en Digital House</p>
        <p>¿Ya dije que me llamo Helening?</p>
    </section>
  </main>
  <footer>
    <span class="name"> 0220 - Helening</span>  <img class="mr" src="../img/ico_instagram.png" alt="icono" > 
    <img src="../img/ico_linkedin.png" alt="icono" > <a href="https://github.com/bhelening"  target="_blank"><img class="gith" src="../img/github.png" alt="github"></a>
  </footer>

</body>

</html>
